<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css ">

<div class="container light-style flex-grow-1 container-p-y">

    <h4 class="py-2 mb-4">
    </h4>

    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action " data-toggle="list"
                        (click)="changeIsSelected('account-general')"
                        style="cursor: pointer"
                        [ngStyle]="{'font-weight' : isSelected ==  'account-general' ? 'bold' : 'normal' }">General</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                        (click)="changeIsSelected('account-change-password') "
                        style="cursor: pointer"
                        [ngStyle]="{'font-weight' : isSelected ==  'account-change-password' ? 'bold' : 'normal' }">Change
                        password </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div *ngIf="isSelected === 'account-general'">

                        <div class="card-body media align-items-center">
                            <div *ngIf="hasImage()">
                                <img [src]="getImage()">
                            </div>
                            <div *ngIf="!hasImage()">
                                <img src="/assets/default_profile_pic.png" class="testImage">
                            </div>
                            <div class="media-body ml-4">
                                <label class="btn btn-outline-primary">
                                    Select New Photo
                                    <input id="file-upload" type="file" #userPhoto (change)="onFileChanged($event)" name="image" autocomplete="off" />
                                </label> &nbsp;
                                <label class="btn btn--primary">
                                    <input type="button" (click)="onUpload()" value="Upload" class="btn btn-outline-primary">
                                </label> &nbsp;

                            </div>
                        </div>
                        <hr class="border-light m-0">
                        
                        <div class="card-body">
                            <form [formGroup]="usernameForm" (ngSubmit)="changeUsername()">
                                <label class="form-label">Username</label>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <input type="text" id="user_name" class="form-control" [formControlName]="'user_name'" name="user_name"
                                            required autofocus [placeholder]="getUsername()">
                                    </div>
                            
                                </div>
                                <div class="row">
                                    <span class="col-md-2">
                                        <button type="submit" style="margin-top: 5px; margin-bottom: 5px;"
                                            class="btn btn-primary">Save </button>
                                    </span>
                                </div>
                            
                            </form>
                            <form [formGroup]="emailForm" (ngSubmit)="changeEmail()">
                                <label class="form-label">Email</label>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <input type="text" id="email" class="form-control" [formControlName]="'email'" name="email" required
                                            autofocus [placeholder]="getEmail()">
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="col-md-2">
                                        <button type="submit" style="margin-top: 5px; margin-bottom: 5px;" class="btn btn-primary">Save </button>
                                    </span>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div *ngIf="isSelected === 'account-change-password'">
                        <div class="card-body pb-2">
                            <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                                
                                <div class="form-group">
                                    <label class="form-label">New password</label>
                                    <input type="password" id="password" class="form-control" [formControlName]="'password'" name="password" >
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-label">Repeat new password</label>
                                    <input type="password" id="password" class="form-control" [formControlName]="'passwordValid'" name="password" >
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <span class="col-md-2">
                                            <button type="submit" style="margin-top: 5px; margin-bottom: 5px;" class="btn btn-primary">Save </button>
                                        </span>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

