.post{
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
  color: #878A8C;
  position: relative;
  border-radius: 4px;
  padding:5px;
}

.btnCommments{
  border-radius: 2px solid;
  color: #878A8C;
  opacity: 1;
  vertical-align:middle;
  font-size: 20px;
}

.btnCommments:hover{
  opacity: 0.65;
  cursor: pointer;
}

.post-title{
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
}

.posturl, .postname{
  color: black;
}

.sublinkedIn-text{
  font-weight: bold;
}

.post-text{
  color: black;
  font-size: 23px;
  font-weight: bold;
  opacity: 1;
  margin-left: 25px;
}

.readPost {
  background-color: #0079D3;
  border-color: #0079D3;
  color: aliceblue;
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 5px 13px;
  opacity: 1;
  border-radius: 50px;
  margin: 5px;
  width: 20%;
  vertical-align:middle
}

.testImage{
  width: auto;
  max-width: 800px;
  height: 300px;
  margin-top: 1pc;
  margin-bottom: 2pc;
  align-self: left;
}

.videoPlayer{
  width: auto;
  max-width: 800px;
  height: 300px;
  margin-top: 1pc;
  margin-bottom: 2pc;
  align-self: left;
}

.btnCreatePost{
  background-color: #0079D3;
  border-color: #0079D3;
  color: aliceblue;
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  width: 288px;
  height: 34px;
}

.btnDiscard {
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  width: 288px;
  height: 34px;
  margin-top: 5px;
  color: #0079D3;
  background-color: transparent;
}
